@import "variables";
@import "mixins";
/* =============================================================================
   Forms
   ========================================================================== */
/*********************
* Search Box
********************/
#searchform {
	position:relative;
	padding:10px 0;
	width:180px;
	background:transparent;
	float:right;
	input[type="text"] {
		padding-left:24px;
		width:85%;	
	}
	a {/*Our spyglass search link*/
		position:absolute;
		display:block;
		border:none;
		outline:none;
		height:24px;
		width:19px;
		background:url(../images/spyglass.png) right center no-repeat;
		top:10px;
		left:25px;		
	}
	@include breakpoint(iphone_landscape) {
		display:none;
	}
	
}