@import "variables";
@import "mixins";
/* =============================================================================
   Typography
   ========================================================================== */

#page_wrap h3 {
    text-transform:uppercase;
    margin-top:20px;
    margin-top: 2rem;
    border-bottom:2px dotted $dividerColor;
    padding-bottom:10px;
    margin-bottom:20px;
}
#page_wrap p {
    margin-bottom:20px;
}
footer {
    h5 {
        color:#FFF;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px dotted $dividerColor;
}
.archive .inside hr:last-child {
    display:none;
}

h4.underlined {
     border-bottom:1px solid $dividerColor;
     padding-bottom:10px;
     margin-bottom:20px;
}
h6 {
    font-family: $font-family-sans-serif;
}

